/* type selector */
html
{
    height: 100vh;
}
body 
{
    background-color: #fff1d0;
    height: 100%;
}

/* universal selector */
*
{
    margin:0px;
    padding:0px;
    letter-spacing: 1px;
    font-size: 20px;
}
div 
{
    display: flex;
    gap: 10px;
    height: calc(100% - 50px);
}

/* class selector style  */
.news-p
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    text-indent: 50px;
}
.event-p 
{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
}
.news-p, .event-p
{
    padding: 10px;
}
.news 
{
    background-color: #feb775;
    border-radius: 20px;
}
.events 
{
    background-color: #AF371F;
    border-radius: 20px;
}
.news, .events
{
    padding:10px;
    height: 100%;
    overflow: scroll;
    scrollbar-width: none;
}
/* For WebKit-based browsers like Chrome */
.news::-webkit-scrollbar, .events::-webkit-scrollbar {
    display: none;
  }
  